.track, .album {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1.6rem;
  font-weight: 500;
  padding: 1rem;
  cursor: pointer;
  border-bottom: 1px solid rgb(39, 38, 38);  
}

.track:last-child,
.album:last-child {
  border-bottom: none;
}

.track:hover,
.album:hover {
  background-color: #212121;
  border-radius: 1rem;
 }

.track img {
  width: 4vmin;
  border-radius: .5rem;
  margin-right: 2rem;  
}

.content {
  display: flex;
  align-items: center;
  color: #fff;
  flex: 1 0 20%;
} 

.content span:last-child {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.track p {
  flex: 1 0 10%;
  text-align: start;
  
  margin-left: 4rem;
  color: rgba(255, 255, 255, 0.7);

  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.track p:last-of-type {
  text-align: end;
}

.album {
  padding: 2rem 0;
}

.album span {
  margin-left: 1.8rem;
  color:#fff;
}

.album span:first-child {
  flex: 0 0 2%;
  text-align: center;
}

.album span:last-child {
  margin-left: .2rem;
}

.album p {
  margin-right: 1.5rem;
}


/************************/
/*    Media Queries     */
/************************/

@media (max-width: 59em) { /* 944px (Tablets) */

   /* duration  */
  .album p:last-of-type {
    flex: 0 1 15%;
    text-align: end;
  }  
}

@media (max-width: 44em) { /* 704px (Smaller tablets) */

  /* artist */
  .track p:first-of-type {
    display: none;
  }

  /* duration  */
  .track p:last-of-type { 
    margin-left: 0;
    flex: 0 0 12%;
  } 
}