.track, .album {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1.6rem;
  font-weight: 500;
  padding: 1rem;
  cursor: default;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.album {
  padding: 1.9rem 0;
}

.track:last-child,
.album:last-child {
  border-bottom: none;
}

.track:hover,
.album:hover {
  background-color: #212121;
  border-radius: 1rem;  
}

.track:hover .play-icon,
.album:hover .play-icon {
  opacity: 1;
}

.track:hover .img-album {
  opacity: 0.1;
}

.album:hover .track-number {
  opacity: 0;
}

.content {
  display: flex;
  align-items: center;
  flex: 1 0 20%;
} 

.play-icon {
  position: absolute;
  opacity: 0;

  width: 2rem;
  margin-left: .7rem;
  cursor: pointer;
}

.img-album {
  width: 3.2rem;
  border-radius: .3rem;
}

.track-number {
  margin-right: 3rem;
}

.track-title {
  margin-left: 2.2rem;
  color: #fff;
  cursor: pointer;

  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.track p {
  flex: 1 0 10%;
  text-align: start;
  
  margin-left: 4rem;
  color: rgba(255, 255, 255, 0.7);

  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.album-title {
  cursor: pointer;
}

.track .duration {
  text-align: end;
  flex: 1;
}

.album .play-icon {
  margin-left: 2.5rem;
}

.album .track-number {
  flex: 0 0 2%;
  text-align: center;
  margin-left: 1.8rem;
  color: #fff;
}

.album .track-title {
  margin-left: .2rem;
}

.album .duration {
  margin-right: 1.5rem;
}

.track .album-title {
  flex: 1;
  margin-left: 0; 
}

/***********************/
/*    Media Queries    */
/***********************/

@media (max-width: 84em) { /* 1344px (Small desktops)*/

  .album .play-icon {
    margin-left: 2rem;
  }
}

@media (max-width: 59em) { /* 944px (Tablets) */

  .album .track-number {
    flex: 0 0 2.5%;
  }

  .album .duration {
    flex: 0 1 15%;
    text-align: end;
  }  
}

@media (max-width: 44em) { /* 704px (Small tablets) */

  .album .track-number {
    flex: 0 0 3%;
  }

  .track .artist {
    display: none;
  }

  .track .duration { 
    margin-left: 0;
    flex: 0 0 12%;
  }
}

@media (max-width: 34em) { /* 544px (Phones) */

  .track .album-title {
    display: none;
  }

  .album .track-number {
    flex: 0 0 5%;
  }
}