.albums {
  margin-top: 9rem;
  color: #fff;
}

.albums h2 {
  font-size: 2.4rem;
  letter-spacing: -0.01em;
  padding-bottom: 3rem;
}


/************************/
/*    Media Queries     */
/************************/

@media (max-width: 84em) { /* 1344px (Small desktops)*/
  .albums {
    margin: 7rem 0 12rem;
  }
}

@media (max-width: 75em) { /* 1200px (Landscape Tablets) */
  .albums {
    margin: 7rem 0 14rem;
  }
}

@media (max-width: 59em) { /* 944px (Tablets) */
  .albums {
    margin: 7rem 0 15rem;
  }
}

@media (max-width: 44em) { /* 704px (Small tablets) */
  .albums {
    margin: 6rem 0 16rem;
  }
}

@media (max-width: 34em) { /* 544px (Phones) */
  .albums {
    margin: 5rem 0 17rem;
  }
}