.carousel {
  margin-bottom: 5.5rem;
  color: #fff;
}

.carousel h2 {
  font-size: 4.5rem;
  padding: 3.2rem 0;
  letter-spacing: -.01em;
}

.item {
  margin: 0 1.5rem;
  text-align: center;
  font-size: 1.6rem;
}

.item img {
  /* width: 100%; */
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

.item h4 {
  margin: 1rem 0 .5rem;
  letter-spacing: .05em;
}

.item p {
  opacity: 0.5;
}

.artists {
  border-radius: 50%;
}

.albums {
  border-radius: 2%;
  opacity: 0.85;
  transition: all .3s;  
}

.albums:hover {
  opacity: 1;
  transition: all .3s;  
}


/************************/
/*    Media Queries     */
/************************/

@media (max-width: 84em) { /* 1344px (Small desktops)*/
  .item {
    margin: 0 1.3rem;
  }    
}

@media (max-width: 44em) { /* 704px (Small tablets) */
  .item h4 {    
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}

@media (max-width: 34em) { /* 544px (Phones) */
  .carousel {
    margin-bottom: 4rem;
  }
  .item {
    margin: 0 1.3rem;
  }
}