.carousel {
  margin-bottom: 6.4rem;
  color: #fff;
}

.carousel h2 {
  font-size: 4.5rem;
  padding: 3.2rem 0;
  letter-spacing: -.01em;
}

.item {
  width: 22.6rem;
  text-align: center;
  font-size: 1.6rem;
}

.item img {
  width: 100%;
  height: 22.6vmin; 
  cursor: pointer;
}

.item h4 {
  margin: 1rem 0 .5rem;
  letter-spacing: .05em;
}

.item p {
  opacity: 50%;
}

.artists {
  border-radius: 50%;
}

.albums {
  border-radius: 2%;
  opacity: 85%;
  transition: all .3s;  
}

.albums:hover {
  opacity: 100%;
  transition: all .3s;  
}


/* Arrow */

/* .react-multiple-carousel__arrow--right {
  display: block;
  background: #fff;
  color: #fff;
} */