.form {
  position: absolute;
  
  display: flex;
  align-items: center;
  
  width: 80rem;
  height: 4.8vh;
  border-radius: .2rem;  
  background-color: #333;
  
  animation: slide-down 400ms ease-out forwards;
}

.form input {
  flex: 1 0 95%;
  font-family: 'Roboto', sans-serif;
  font-size: 2.3rem;
  font-weight: 400;
  border: 1px solid #333;
  outline: none; 
  padding-left: 1.5rem;
  color: #fff;  
  background-color: #333;
}

.form input::placeholder { 
  color: rgba(255, 255, 255, 0.5);
}

.form .close {
  flex: 1 0 5%;

  font-size: 2.7rem;
  font-weight: 100;
  padding: 0 .8rem .5rem 0;
  text-align: center;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
}

@keyframes slide-down {
  from {
    opacity: 0;
    /* transform: translateY(-3rem); */
    transform: translateY(-1.5rem);
  }
  to {
    opacity: 1;
    /* transform: translateY(0); */
    transform: translateY(0);
  }
}

/* @media (min-width: 768px) {
  .form {
    width: 40rem;
    left: calc(50% - 20rem);
  }
} */