.form {
  position: absolute;
  
  display: flex;
  align-items: center;
  
  width: 80rem;
  height: 70%;
  border-radius: .2rem;  
  background-color: #333;
  
  animation: slide-down 400ms ease-out forwards;
}

.form input {
  flex: 1 0 95%;
  font-family: 'Roboto', sans-serif;
  font-size: 2.3rem;
  font-weight: 400;
  border: 1px solid #333;
  outline: none; 
  padding-left: 1.5rem;
  color: #fff;  
  background-color: #333;
}

.form input::placeholder { 
  color: rgba(255, 255, 255, 0.5);
}

.form .close {
  flex: 1 0 5%;

  font-size: 2.7rem;
  font-weight: 100;
  padding: 0 .8rem .5rem 0;
  text-align: center;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-1.5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/************************/
/*    Media Queries     */
/************************/

@media (max-width: 84em) {  /* 1344px (Small desktops) */
  .form {
    width: 60rem;
  }
}

@media (max-width: 75em) { /* 1200px (Landscape Tablets) */
  .form {
    width: 55rem;
    height: 72%;
  }
  .form input {
    flex: 1 0 92%;
  }
}

@media (max-width: 59em) { /* 944px (Tablets) */
  .form {
    width: 50rem; 
    height: 70%;
  }
  .form input {
    flex: 1 0 90%;
  }
}

@media (max-width: 44em) { /* 704px (Small tablets) */
  .form {
    width: 35rem;
  }
  .form input {
    flex: 1 0 92%;
  }
  .form .close {
    flex: 1 0 10%;
    font-size: 2rem;
    padding-right: 6rem;
  }
}

@media (max-width: 34em) { /* 544px (Phones) */
  .form {
    width: 30rem;
  }
}