@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

::-webkit-scrollbar { width: 0; }
:root { scrollbar-width: none; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 10px / 16px = 0.625 = 62.5% */
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #030303;
}


/* Bar progress */

/* #f00 */

