@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

::-webkit-scrollbar { width: 0; }
:root { scrollbar-width: none; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 10px / 16px = 0.625 = 62.5% */
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #030303;
}

main {
  animation: fadeInInit 8s;
}

@keyframes fadeInInit {
  0% {opacity:0}
  100% {opacity:1}
}


/***********************/
/*   Carousel Arrows   */
/***********************/

.react-multiple-carousel__arrow{background: #fff !important;min-width: 3.4rem !important;min-height:3.4rem !important;opacity:1;cursor:pointer; box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4) !important}

.react-multiple-carousel__arrow--left::before{content:"\e824" !important; color: #000 !important; font-weight: bold !important; font-size: 1.5rem !important; padding-right: 0.2rem !important}
.react-multiple-carousel__arrow--right::before{content:"\e825" !important; color: #000 !important; font-weight: bold !important; font-size: 1.5rem !important; padding-left: 0.2rem !important}

.react-multiple-carousel__arrow--left{left:calc(0% + 1px) !important; top:calc(30% + 1px) !important}
.react-multiple-carousel__arrow--right{right:calc(0% + 1px) !important; top:calc(30% + 1px) !important}


/***********************/
/*    Media Queries    */
/***********************/

/* OBS: 1em = 16px */

/* 1344px (Small desktops) */
@media (max-width: 84em) {}

/* 1200px (Landscape Tablets) */
@media (max-width: 75em) {
  html {
    font-size: 56.25%; /* 9px / 16px = 0.5625 = 56.25% */
  }
}

/* 944px (Tablets) */
@media (max-width: 59em) {
  html {
    font-size: 50%; /* 8px / 16px = 0.5 = 50% */
  }
}

/* 704px (Small tablets) */
@media (max-width: 44em) {}

/* 544px (Phones) */
@media (max-width: 34em) {
  .react-multiple-carousel__arrow--left{left:calc(-0.1% + 1px) !important; top:calc(23% + 1px) !important}
  .react-multiple-carousel__arrow--right{right:calc(-0.1% + 1px) !important; top:calc(23% + 1px) !important}
}