.container {
  width: 82%;
  margin: 0 auto;

  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {opacity:0}
  100% {opacity:1}
}


/***********************/
/*    Media Queries    */
/***********************/

@media (max-width: 44em) { /* 704px (Small tablets) */
  .container {
    width: 90%;
  }
}