.notification {  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.notification h2 {
  font-size: 8rem;
  text-align: center;
  color: #f00;
}

.notification button {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  cursor: pointer; 
  background-color: #f00;
  /* background-color: #55c57a; */
  color: #fff; 
  border: none;
  box-shadow: inset 0 10rem 20rem rgba(0, 0, 0, 0.2); 
  
  transition: all .3s;
}

.notification button:hover { opacity: 80% }
